{% load static %}
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- icons -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- gsap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U=" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="landingpage">
        <div class="navbar">
          <a class="navlogo">EzR☑ll</a>
          <button class="hamburger">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
                <path d="M3 12h18M3 6h18M3 18h18"/>
              </svg>
            </button>
          <div class="navlinkwrap">
            <span class="navlink selectedlink"><a href="index.html">Home</a></span>
            <span class="navlink"><a href="register.html">Register now</a></span>
            <span class="navlink"><a href="index.html">How it works</a></span>
          </div>
          <div class="buttonwrap">
            <button class="createbtn selectedbtn">CREATE SCHEDULE</button>
            <button class="createbtn">REPORT A PROBLEM</button>
          </div>
        </div>
 
        <div class="started">
          <p class="started-boldtext">Your schedule is here!</p>
          
          <div class="started-items">
            <div class="container">
                     <ul>
                        {% if PoCRN %}
                        {% for classes in schedule %}
                        <li><h4>CRN: </h1>{{classes.CRN }}</li>
                        <h4>Code: </h4>{{classes.SUBJ_CODE }}
                        <h4>Where this class is: </h4>{{classes.BLDG_DESC }} Building 
                        <h4>Start time:</h4> {{classes.BEGIN_TIME}}
                        <h4>End time: </h4>{{classes.END_TIME }}</ul>
                   
                        {% endfor %}
                   {% endif %}

            </div>

        </div>


        <div class="footer">
          <div class="footer-main">
            This is still a beta version of the product.
          </div>
          <div class="footer-navigate">
            <div class="nav">
              <h5>Home</h5>
              <p>Register</p>
            </div>
            <div class="nav">
              <h5>Contact</h5>
              <p>Facebook</p>
              <p>Instagram</p>
              <p>Twitter</p>
              <p>Email</p>
            </div>
          </div>
        </div>
        <div class="footer2">
          <div></div>
          <p>Copyright 2023 EzRoll</p>
        </div>
      </div></body></html>